body {
    margin: 0;
}

body h1 {
    margin: 0;
}

.main-title {
    background-color: #ff441f;
    color: whitesmoke;
    font-family: 'Lobster', cursive;
    padding: 10px 15px;
}

.diagram-container {
    margin: 15px auto;
    display: flex;
    gap: 20px;
    width: 90vw;
    height: 85vh;
}

.pallete {
    border: 1px solid #ff441f;
    border-radius: 3px;
    width: 10%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pallete .tree-actions {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.pallete .pallete-add-node {
    width: 70px;
    height: 70px;
    background-color: #ff441f;
    border: none;
    color: whitesmoke;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.pallete .pallete-update-parent {
    width: 70px;
    height: 70px;
    background-color: #6816fc;
    border: none;
    color: whitesmoke;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
}

.pallete .pallete-clear {
    background-color: transparent;
    border: 1px solid #6816fc;
    color: #6816fc;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.pallete .pallete-upload {
    background-color: transparent;
    border: 1px solid #0CC665;
    color: #0CC665;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.pallete .pallete-tree-validate {
    background-color: #0CC665;
    border: none;
    color: whitesmoke;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.pallete button:hover {
    font-weight: bold;
}

.mermaid {
    border-radius: 3px;
    text-align: center;
    border: 1px solid #ff441f;
    color: white;
    width: 88%;
    height: inherit;
    overflow-y: auto;
    overflow-x: auto;
}